@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://use.typekit.net/pgd7ubb.css");


*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --ff-logo: 'Inter', sans-serif;
    --ff-txt: kanit, sans-serif;
}